@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #f5f5f5;
}

.Cont_Beranda {
  position: relative;
  margin: 14vh 30px 0 180px;
  width: calc(100% - 210px);
  height: 60vh;
}

.Cont_Beranda li {
  list-style: none;
}

.Cont_Beranda .Cont_Atas {
  height: 53%;
  display: flexbox;
  background-color: #f5f5f5;
}

.Cont_Beranda .Cont_Atas .title,
.Cont_Beranda .Cont_Bawah .title {
  font-size: 24px;
  font-weight: 500;
}

.Cont_Beranda .Cont_Atas .tabel {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.Cont_Beranda .Cont_Atas .tbl_pemasukan {
  width: 28%;
  height: 25vh;
  border: 1px solid #44d453;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 2px 2px 5px grey;
}

.tbl_pemasukan .top1 {
  height: 4.5vh;
  background-color: #5BC85B;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.judul_tabel {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 5vh;
}

.judul_tabel #icon_tabel {
  height: 5vh;
  padding-top: 1%;
  font-size: 20px;
}

.judul_tabel .ket_tabel {
  height: 5vh;
  font-size: 20px;
}

.Cont_Beranda .Cont_Atas .tbl_pengeluaran {
  width: 28%;
  height: 25vh;
  border: 1px solid #d44444;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 2px 2px 5px grey;
}

.tbl_pengeluaran .top2 {
  height: 4.5vh;
  background-color: #d44444;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.Cont_Beranda .Cont_Atas .tbl_saldo {
  width: 28%;
  height: 25vh;
  border: 1px solid #268ac9;
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 2px 2px 5px grey;
}

.tbl_saldo .top3 {
  height: 4.5vh;
  background-color: #268ac9;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}


.B_harga_pemasukan,
.B_harga_pengeluaran,
.B_harga_saldo {
  margin-top: 1%;
  text-align: center;
  line-height: 4vh;
  font-size: 26px;
  font-weight: 500;
}

.Cont_Beranda .Cont_Bawah {
  margin-top: 1%;
  height: 72.5%;
}

.Cont_Bawah .tabel_stok {
  margin-top: 0.5%;
  width: 100%;
  height: 100%;
  box-shadow: 1px 1px 5px black;
}

/* filter & serch */
.tabel_stok .div-filtercari {
  display: flex;
  width: 100%;
  height: 7vh;
}

/* inp-filter */
.div-filtercari .filter {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  padding-left: 0.5vw;
  background-color: #ffffff;
}

.div-filtercari .filter .in-filter {
  width: 40%;
  height: 4.5vh;
  font-size: 16px;
  border: 1px solid black;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-inline-start: 5px;
}

.div-filtercari .filter .btn-filter {
  width: 3vw;
  height: 4.5vh;
  border: 1px solid black;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 20px;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
}

/* inp-cari */
.div-filtercari .cari {
  display: flex;
  width: 50%;
  height: 100%;
  padding-right: 0.5vw;
  align-items: center;
  justify-content: end;
  background-color: #ffffff;
}

.div-filtercari .cari input {
  width: 40%;
  height: 4.5vh;
  font-size: 16px;
  border: 1px solid black;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  padding-inline-start: 5px;
}

.div-filtercari .cari .btn-cari{
  width: 3vw;
  height: 4.5vh;
  border: 1px solid black;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 20px;
  color: black;
  background-color: #ffffff;
  cursor: pointer;
}

.div-filtercari .filter .btn-filter:active,
.div-filtercari .cari .btn-cari:active {
  background-color: #f3f3f3;
}

/* data terdaftar */
.tabel_stok .tbl_data_barang-beranda {
  display: flex;
  flex-wrap: wrap;
  height: 84%;
  width: 100%;
  overflow: scroll;
  background-color: #ffffff;
}

.tabel_stok .tbl_data_barang-beranda ul {
  height: 20vh;
  min-width: 23%;
  max-width: 23%;
  margin: 1%;
  border-radius: 15px;
  background-color: #ffffff;
}

.tbl_data_barang-beranda .produk-terdaftar-data-beranda {
  height: 20vh;
  min-width: 23%;
  max-width: 23%;
  margin: 1%;
  border-radius: 15px;
  background-color: #ffffff;
}

.produk-terdaftar-data-beranda .li-produk-beranda {
  list-style: none;
}

.li-produk-beranda .div_terdaftar-beranda {
  display: flex;
  min-width: 100%;
  max-width: 100%;
  height: 20vh;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px grey;
}

.div_terdaftar-beranda .gambar_terdaftar-data-beranda {
  width: 35%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.div_terdaftar-beranda .gambar_terdaftar-data-beranda img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.div_terdaftar-beranda .keterangan_terdaftar-data-beranda {
  width: 65%;
  height: 100%;
  font-size: 16px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.keterangan_terdaftar-data-beranda .div-top-data-beranda {
  display: flex;
  width: 100%;
  height: 50%;
  border-top-right-radius: 15px;
}

.div-top-data-beranda .nama_terdaftar {
  height: 100%;
  width: 80%;
  align-content: center;
  padding-left: 3%;
}

.nama_terdaftar .produk {
  font-weight: 600;
}

.btn-edit {
  height: 50%;
  width: 2.6vw;
  border: none;
  border-top-right-radius: 15px;
}

.btn-edit button {
  height: 100%;
  width: 100%;
  border: none;
  border-top-right-radius: 15px;
  color: #5E95FE;
  background-color: #ffffff;
}

.btn-hapus {
  height: 50%;
  width: 2.6vw;
  border: none;
}

.btn-hapus button {
  height: 100%;
  width: 100%;
  border: none;
  color: red;
  background-color: #ffffff;
}

.btn_terdaftar button:active {
  color: #000000;
}

.keterangan_terdaftar-data-beranda .div-bottom {
  width: 100%;
  height: 50%;
  border-bottom-right-radius: 15px;
  
}

.div-bottom .stok {
  height: 45%;
  width: 100%;
  align-content: center;
  font-weight: 600;
}

.div-bottom .kurangtambah {
  display: flex;
}

.kurangtambah .kurangi-stok {
  width: 50%;
  height: 5vh;
  align-content: center;
}

.kurangi-stok button {
  height: 70%;
  width: 30%;
  border: none;
  background-color: #ffffff;
}

.kurangi-stok .btn-min {
  color: red;
}

.kurangi-stok .btn-plus {
  color: #61E16E;
}

.kurangi-stok .btn-min:active,
.kurangi-stok .btn-plus:active {
  color: #000000;
}

.kurangi-stok button span {
  font-size: 20px;
  font-weight: 600;
}

.kurangi-stok span,
.div-perbarui span {
  font-weight: 500;
}

.kurangtambah .div-perbarui {
  width: 50%;
  height: 5vh;
  align-content: center;
  border-bottom-right-radius: 15px;
}

.div-perbarui .perbarui {
  width: 90%;
  height: 60%;
  border-radius: 5px;
  border: none;
  margin-left: 5%;
  color: black;
  background-color: #5BC85B;
}

.div-perbarui .perbarui:active {
  color: #5BC85B;
  border: 1.5px solid #5BC85B;
  background-color: #ffffff;
}