.contain-inputbarang {
  position: relative;
  margin: 16vh 30px 20px 180px;
  width: calc(100% - 210px);
  height: 80vh;
}

.tbl_data-barang {
  position: relative;
  margin: auto;
  width: 50vw;
  height: 80vh;
  border-radius: 20px;
  border: 1px solid black;
  align-content: center;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px grey;
}

.tbl_data-barang .tambah_data-barang {
  width: 90%;
  height: 90%;
  margin-left: 5%;
}

.tambah_data-barang .div_ttb {
  display: flex;
  height: 8vh;
}

.tambah_data-barang .ttb {
  font-size: 30px;
  font-weight: 400;
}

.tambah_data-barang .kolom_input_b1 {
  display: flex;
  border-top: 1px solid black;
}

.tambah_data-barang .span_input_b {
  font-size: 18px;
  color: #000000;
}

.tambah_data-barang .kolom_input_b2 {
  display: flex;
  margin-top: 2vh;
}

.tambah_data-barang .input_Bkode,
.tambah_data-barang .input_Bnama,
.tambah_data-barang .input_Bharga,
.tambah_data-barang .input_Bstok {
  width: 100%;
  height: 4vh;
  border-radius: 5px;
  border: 1px solid #000000;
  padding-left: 5px;
  color: #000000;
  font-size: 16px;
  margin-top: 3px;
}

.tambah_data-barang .div_kb {
  display: flexbox;
  width: 50vh;
  height: 10vh;
  margin-top: 2vh;
}

.tambah_data-barang .div_nb {
  display: flexbox;
  width: 45vh;
  height: 10vh;
  margin-left: 10vh;
  margin-top: 2vh;
}

.tambah_data-barang .kolom_gambar {
  width: 100%;
  height: 26vh;
  margin-top: 3vh;
}

.kolom_gambar .input_gambar {
  display: relative;
  height: 17vh;
  width: 100%;
  border: 1px solid black;
  margin-top: 3px;
  border-radius: 10px;
}

.kolom_gambar .input_gambar input {
  width: 100%;
  height: 100%;
  border: none;
  cursor: pointer;
}

.kolom_gambar .input_gambar input[type=file]::-webkit-file-upload-button {
  visibility: hidden;
}

.kolom_gambar .input_gambar input[type=file] {
  color: transparent;
}

.tambah_data-barang .btn_simpanhapus {
  display: flex;
  width: 100%;
  height: 7vh;
  justify-content: space-between;
}

.tambah_data-barang .btn_simpan-barang,
.tambah_data-barang .btn_hapus-barang_i {
  width: 45%;
  height: 5vh;
  margin-top: 2vh;
}

.tambah_data-barang .simpan-barang {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #6FB9E7;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.tambah_data-barang .simpan-barang:active {
  background: #ffffff;
  color: black;
  border: 1px solid #6FB9E7;
}

.tambah_data-barang .hapus-barang_i {
  width: 100%;
  height: 100%;
  color: red;
  border-radius: 30px;
  border: 1px solid red; 
  background: none;
  cursor: pointer;
}

.tambah_data-barang .hapus-barang_i:active {
  background: red;
  color: #ffffff;
  border: none;
}

.contain.blur {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.contain.blur::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(128, 128, 128, 0.5); /* Warna abu-abu dengan 50% transparansi */
  backdrop-filter: blur(10px);
}
