.cont_rekap_pengeluaran {
  position: relative;
  margin: 115px 30px 30px 180px;
  width: calc(100% - 210px);
  height: 81vh;
}

/* menu */
.cont_rekap_pengeluaran .menu_rekap_pengeluaran {
  display: flex;
  justify-content: center;
}

.menu_rekap_pengeluaran li {
  list-style: none;
}

.menu_rekap_pengeluaran a {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding-top: 2vh;
  color: grey;
}

.menu_rekap_pengeluaran .rekap_pemasukan_div {
  width: 50%;
  height: 7vh;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: rgba(83, 189, 255, 0.5);
}

.rekap_pemasukan_div .pemasukan_t:hover {
  width: 100%;
  height: 7vh;
  background-color: rgba(38, 138, 201, 0.5);
  color: #000000;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.menu_rekap_pengeluaran .rekap_pengeluaran_div {
  width: 50%;
  height: 7vh;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: rgba(83, 189, 255, 0.5);
}

.rekap_pengeluaran_div #active11 {
  width: 100%;
  height: 7vh;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-color: rgba(38, 138, 201, 0.5);
  color: #000000;
}

/* filter & btn */
.cont_rekap_pengeluaran .dropdown_cari_r-pengeluaran {
  display: flex;
  width: 100%;
  height: 11vh;
  align-items: center;
  justify-content: space-between;
}

.dropdown_cari_r-pengeluaran .dropdown_r-pengeluaran {
  display: flex;
  width: 37vw;
  height: 5vh;
  justify-content: space-between;
}

.dropdown_r-pengeluaran .div_droptahun_r-pengeluaran {
  width: 17vw;
  height: 5vh;
}

.dropdown_r-pengeluaran .div_droptahun_r-pengeluaran select {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 5px;
  border: 1px solid black;
}

.dropdown_r-pengeluaran .div_dropbulan_r-pengeluaran {
  width: 17vw;
  height: 5vh;
}

.dropdown_r-pengeluaran .div_dropbulan_r-pengeluaran select {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  font-size: 16px;
  padding-left: 5px;
  border: 1px solid black;
}

/* btn print & hapus */
.cont_rekap_pengeluaran .hapus_print_r-pengeluaran {
  display: flex;
  width: 17vw;
  height: 5vh;
  justify-content: space-between;
}

.cont_rekap_pengeluaran .hapus_print_r-pengeluaran a {
  height: 100%;
  text-decoration: none;
  width: 8vw;
}

.hapus_print_r-pengeluaran .btn_print_r-pengeluaran {
  display: flex;
  width: 100%;
  height: 5vh;
  border-radius: 10px;
  background-color: #5e95fe;
  color: #000000;
  border: none;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding-bottom: 9%;
  padding-right: 5%;
  cursor: pointer;
}

.hapus_print_r-pengeluaran .btn_print_r-pengeluaran:active {
  border: 1px solid #5e95fe;
  background-color: #ffffff;
  color: #5e95fe;
}

.hapus_print_r-pengeluaran .btn_hapus_r-pengeluaran {
  display: flex;
  width: 45%;
  height: 5vh;
  border-radius: 10px;
  background-color: red;
  color: #000000;
  border: none;
  font-size: 16px;
  justify-content: center;
  align-items: center;
  padding-bottom: 4%;
  cursor: pointer;
}

.hapus_print_r-pengeluaran .btn_hapus_r-pengeluaran:active {
  border: 1px solid red;
  color: red;
  background-color: #ffffff;
}

.hapus_print_r-pengeluaran .btn_print_r-pengeluaran span,
.hapus_print_r-pengeluaran .btn_hapus_r-pengeluaran span {
  margin-top: 9%;
}

/* tbl_data_r_pengeluaran */
.cont_rekap_pengeluaran .tbl_data_r_pengeluaran {
  width: 100%;
  height: 63vh;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #ffffff;
  box-shadow: 2px 2px 5px grey;
}

.list_r-pengeluaran {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.tbl_data_r_pengeluaran table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

.tbl_data_r_pengeluaran table td {
  height: 6vh;
  border-bottom: 1px solid black;
}

.tbl_data_r_pengeluaran table .tj_r-pengeluaran {
  position: relative;
  height: 6vh;
  background-color: #5bc85b;
}

.tj_r-pengeluaran .tanggal_rekap_pengeluaran {
  min-width: 15vw;
}

.tj_r-pengeluaran .nama_rekap_pengeluaran {
  min-width: 20vw;
}

.tj_r-pengeluaran .barangjasa_rekap_pengeluaran {
  min-width: 20vw;
}

.tj_r-pengeluaran .uraian_rekap_pengeluaran {
  min-width: 30vw;
}

.tj_r-pengeluaran .kuantitas_rekap_pengeluaran {
  min-width: 12vw;
}

.tj_r-pengeluaran .harga_rekap_pengeluaran {
  min-width: 12vw;
}

.tj_r-pengeluaran .detail_rekap_pengeluaran {
  min-width: 10vw;
}

.rekap_pengeluaran_tabel .btn-detail-pengeluaran {
  width: 65%;
  height: 3.7vh;
  border: none;
  border-radius: 10px;
  background-color: #5e95fe;
  font-size: 16px;
  cursor: pointer;
}

.rekap_pengeluaran_tabel .btn-detail-pengeluaran:hover {
  color: black;
}

.rekap_pengeluaran_tabel .btn-detail-pengeluaran:active {
  background-color: #ffffff;
  color: #5e95fe;
  border: 1px solid #5e95fe;
}