.Div_PopUp_Data-Tersimpan {
    position: absolute;
    width: 25vw;
    height: 27vh;
    margin-top: 36vh;
    margin-left: 37vw;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 2px 2px 5px grey;
    background-color:#ffffff;
    z-index: 9999;
}

.Div_PopUp_Data-Tersimpan .PopUp_Data-Tersimpan {
    width: 100%;
    height: 100%;
}

.PopUp_Data-Tersimpan .popup-gambar {
    height: 6vh;
    width: 100%;
    text-align: center;
    color: #61E16E;
}

.popup-gambar svg {
    width: 3vw;
    height: auto;
}

.PopUp_Data-Tersimpan .popup-judul {
    height: 7vh;
    width: 100%;
    text-align: center;
    align-content: end;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.PopUp_Data-Tersimpan .popup-des {
    height: 5vh;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.PopUp_Data-Tersimpan .btn_barang-ya {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
    justify-content: end;
}

.btn_barang-ya .btn-ya {
    width: 25%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: #61E16E;
    cursor: pointer;
}

.btn_barang-ya .btn-ya:active {
    color: #61E16E;
    border: 1px solid #61E16E;
    background-color: #ffffff;
}