.Div_PopUp_Login-Berhasil {
    position: absolute;
    width: 25vw;
    height: 27vh;
    margin-top: 36vh;
    margin-left: 37.5vw;
    border-radius: 15px;
    padding: 20px 20px;
    box-shadow: 5px 5px 10px grey;
    background-color: #ffffff;
    z-index: 9999;
}

.Div_PopUp_Login-Berhasil .PopUp_Login-Berhasil {
    width: 100%;
    height: 100%;
}

.PopUp_Login-Berhasil .popup-gambar {
    height: 6vh;
    width: 100%;
    text-align: center;
    color: #61E16E;
}

.popup-gambar svg {
    width: 3vw;
    height: auto;
    margin-top: 1.5vh;
}

.PopUp_Login-Berhasil .popup-judul {
    height: 7vh;
    width: 100%;
    text-align: center;
    align-content: end;
    font-size: 24px;
    font-weight: 500;
    color: black;
}

.PopUp_Login-Berhasil .popup-des {
    height: 5vh;
    width: 100%;
    font-size: 14px;
    text-align: center;
}

.PopUp_Login-Berhasil .btn_tidak-ya {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4vh;
    justify-content: end;
}

.btn_tidak-ya .btn-ya {
    width: 25%;
    height: 100%;
    border-radius: 8px;
    border: none;
    background-color: #5BC85B;
    cursor: pointer;
}

.pindah-beranda{
    text-decoration: none;
    width: 100%;
    height: 100%;
}

.btn_tidak-ya .btn-ya:active {
    color: #5BC85B;
    border: 1px solid #5BC85B;
    background-color: #ffffff;
}
